$livia-light: #fefefe;
$lavender:        #f5cc5a ;
$love-blossom: #ffecbe;
$livia-blossom: #666d79;
$livia-gray: #4b4d59;
$livia-orchid: #be7b13;
$livia-dark:      #2e2528;

$generic-padding: 20px;



/*
$livia-light:   #e8ceff;
$lavender:        #d6b7e7;
$love-blossom:    #d2a3ff;
$livia-blossom: #762bb7;
$livia-gray: #7c6a86;
$livia-orchid:    #9762c4;
$livia-dark:      #422b54;
 */